<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>921267202837-ev6tbbtuvunuv642ii5de7bkf19up2lh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.921267202837-ev6tbbtuvunuv642ii5de7bkf19up2lh</string>
	<key>API_KEY</key>
	<string>AIzaSyCyKIGzUMfv3WLO3XE5dCHe65FiK0GJlAo</string>
	<key>GCM_SENDER_ID</key>
	<string>921267202837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.s.m.shahi.flutterFcmDemo</string>
	<key>PROJECT_ID</key>
	<string>all-demo-projects-6042f</string>
	<key>STORAGE_BUCKET</key>
	<string>all-demo-projects-6042f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:921267202837:ios:93c0787ecba47b95c1d71c</string>
	<key>DATABASE_URL</key>
	<string>https://all-demo-projects-6042f-default-rtdb.firebaseio.com</string>
</dict>
</plist>